<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="First" >
        <classes>
            <class name="tests.DragAndDropTest">
            </class>
        </classes>
    </test>

    <test name="Second">
        <classes>
            <class name="tests.YandexSimpleTest"/>
        </classes>
    </test>
</suite>
